<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neuroengine.beatzone">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BTActivity"
            android:label="@string/title_activity_bt"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DialogLogin"
            android:label="@string/sign_in_activiy" />
        <activity
            android:name=".LoginGoogle"
            android:label="@string/sign_in_google_activiy" />
        <activity
            android:name=".UserParamsActivity"
            android:label="@string/userparams_activity" />

        <service
            android:name=".BTService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>